
.searchData{
    /* position: sticky; */
    top: 0;
    padding: 15px 0;
    z-index: 10;
    display: flex;
    align-items: center;
    background: rgba(140, 140, 140, 0.081);
}
.history{
    color: #9a9a9a;
    margin-right: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 1s;
    font-size: 30px;
}
.history:hover{
    color: #ffffff;
    margin-right: 30px;
    transform: rotate(-45deg);
    transition: 1s;
}
.searchbar{
    background: rgba(140, 140, 140, 0.081);
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid rgba(70, 70, 241, 0.171);
    >form{
        display: flex;
        >input{
            padding: 10px;
            width: 250px;
            border: none;
            outline: none;
            font-size: 15px;
            color: rgb(226, 226, 226);
            background: transparent;
            font-weight: 200;
        }
        >input::placeholder{
            color: rgba(255, 255, 255, 0.659);
            font-weight: 200;
        }
        >button{
            padding: 4px;
            border: none;
            background: none;
            cursor: pointer;
            transition: 1s;
            color: rgba(255, 255, 255, 0.334);
            padding: 8px;
        }
        >button:hover{
            transform: scale(1.2);
            color: white;
        }
    }
}
.suggestions{
    position: absolute;
    z-index: 100;
    min-width: 350px;
    /* background: rgba(140, 140, 140, 0.296); */
    background: rgba(0, 128, 128, 0.96);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    left: 30px;
    top: 60px;
    /* box-shadow: 2px 2px 0px rgba(223, 223, 223, 0.911); */
}
.locations{
    cursor: pointer;
    background:transparent;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid rgba(59, 59, 59, 0.393);
    >.country-location{
        font-weight: 400;
        text-transform: uppercase;
        color: rgb(236, 236, 236);
        font-size: 14px;
        >span{
            font-style: italic;
            font-size: 12px;
            color: rgb(193, 195, 196);
        }
    }
    >.country-code{
        font-weight: 500;
        color: rgb(255, 255, 255);
    }
}
.locations:hover{
    opacity: .8;
}
.flag{
    >img{
        width: 20px;
    }
}

@media(max-width:500px){

    .searchbar{
        background: rgba(140, 140, 140, 0.081);
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        margin-left: 30px;
        border: 1px solid rgba(70, 70, 241, 0.171);
        >form{
            display: flex;
            >input{
                padding: 8px;
                width: 200px;
                border: none;
                outline: none;
                font-size: 15px;
                color: rgb(226, 226, 226);
                font-weight: 200;
            }
            >input::placeholder{
                color: rgba(255, 255, 255, 0.659);
                font-weight: 200;
            }
         
        }
    }
    .history{
        color: #9a9a9a;
        margin-right: 30px;
        position: absolute;
        right: 0;
        cursor: pointer;
        transition: 1s;
        font-size: 20px;
    }

}
@media(max-width:380px){

    .searchbar{
        background: rgba(140, 140, 140, 0.081);
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        margin-left: 30px;
        border: 1px solid rgba(70, 70, 241, 0.171);
        >form{
            display: flex;
            >input{
                padding: 8px;
                width: 160px;
                border: none;
                outline: none;
                font-size: 13px;
                color: rgb(226, 226, 226);
                font-weight: 200;
            }
            >input::placeholder{
                color: rgba(255, 255, 255, 0.659);
                font-weight: 200;
            }
         
        }
    }

}

