*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.home{
  background: rgba(0, 0, 0, 0.785);
  /* height: 100vh; */
  /* background:linear-gradient(rgba(56, 60, 61, 0.645),rgba(124, 123, 123, 0.525)) ,
  url(' https://static.vecteezy.com/system/resources/previews/042/195/725/non_2x/ai-generated-rainy-sky-background-free-photo.jpg');

background-position: center;
background-repeat: no-repeat;
background-clip: cover; */

}