*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.home{
  background-image: linear-gradient(to bottom right, rgba(2, 2, 2, 0.593), rgba(15, 17, 15, 0.741));
  background: black;
}